/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#banner {
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 10px;
    border-bottom: 2px solid;
    color: tan;
    text-align: center;
}

#columns {
    backgorund: blue;
}

#main {
  margin-left: 17em;
  padding-top: 4ex;
  padding-left: 2em;
  background: white;
}

#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 16em;
  background: tan;
}

#side a {
color: pink; font-size: small;
}

#store .entry form, #store .entry form div {
  display: inline;
}

#notice {
  background: yellow;
}

#store .cart_title {
  font: 120% bold;
}

#store .item_price, #store .total_line {
  text-align: right;
}

#store .total_line .total_cell {
  font-weight: bold;
  border-top: 1px solid #595;
}

#cart, #cart table {
  font-size: smaller;
  color: red;
}

#cart table {
  border-top:     1px dotted #595;
  border-bottom:  1px dotted #595;
  margin-bottom:  10px;
}